*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;



}

body{
display: grid;
grid-template-columns: auto;
}

.menu-header {
    display: flex;
  width: 100%;
 height: 100%;

    position: relative;
 
        
 }


.header-image {
  
  
 width: 100%;
 height: 290px;
object-fit: cover;
object-position: 25% 25%;


 overflow: hidden;


  


    
}

.menu-nav {
   position: absolute;
   left: 15%;
}

.menu-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 200px;
    border-left: 3px solid rgb(30, 227, 241);
    width: 120px;
    
    
}

.main-menu-nav__items {
    list-style: none;
   
   
   
   
}

.main-menu-nav__items a {
    color: white;
    text-decoration: none;
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: hsla(0, 1%, 31%, 0.288);
    right: 20%;
    top:40px;
    width:550px;
    height: 165px;
   
    padding: 20px 10px 20px 10px;

}



   
   
.card-title {
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  font-size: x-large;
    font-weight: 800;
}

.card-content {
    color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    
}

.main-container {
    display: grid;
    grid-template-columns: auto auto;
    /* margin-top: 50px; */
    margin-left: 200px;
    margin-right:200px;
    padding: 60px;
}

.left-container {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-container {
    margin-left: 20px;
}

.left-container-header {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.left-container-header2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

.left-container-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

.copywrite {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    width: 100%;
    height: 50px;
  
    color: white;
    background-color: darkslategrey;
}





